<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="Telerik" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3" />
  </packageSources>
  <!-- 
    Visual Studio will prompt you for your Telerik account credentials or you can set these environment variables to set it ahead of time.
    Visit the following NuGet documentation https://docs.microsoft.com/en-us/nuget/consume-packages/consuming-packages-authenticated-feeds
   -->
  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="%TELERIK_USERNAME%" />
      <add key="ClearTextPassword" value="%TELERIK_PASSWORD%" />
    </Telerik>
  </packageSourceCredentials>
</configuration>